<%- include('../partials/header') %>

<h1>Flight List</h1>
<table>
 <thead>
   <tr>
     <th>Airline</th>
     <th>Airport</th>
     <th>Flight Departure</th>
     <th>Departure</th>
   </tr>
 </thead>
 <tbody>
   <% flights.forEach(f => { %>
   <tr>
       <td><%= f.airline %></td>
       <td><%= f.airport %></td>
       <td><%= f.flightNo %></td>
       <td><%= f.departs %></td>
     </tr>
     <%  }) %>
 </tbody>
</table>

<%- include('../partials/footer') %>