<%- include('../partials/header') %>

<br>
<h2>DEPARTURE:</h2>
<br>
<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departure Date</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td id="flightairline"><%= flight.airline %></td>
                <td id="flightairport"><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departure.toLocaleDateString() %></td>
            </tr>
    </tbody>
</table>
<br><br>
<h2>DESTINATION:</h2>
<br>
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
            <td id="destinationairport"><%= d.airport %></td>
            <td id="destinationdate"><%= d.arrival.toLocaleDateString() %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
    <% } else { %>
    <h5>No Destinations Yet</h5>
    <% } %>
<br><br>
<h2>ADD YOUR DESTINATION</h2>
<br>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Destination Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br><br>
    <label>Arrival Date:
        <input type="datetime-local" required name="arrival">
    </label><br><br>
    <input type="submit" value="Add Arrival Information">
</form>
<br><br><br>
<h2>TICKETS:</h2>
<br>
<% if (tickets.length) { %>
<table>
    <thead>
        <tr>
            <th>Seat Number:</th>
            <th>Price:</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(t) { %>
        <tr>
            <td id="ticketseat"><%= t.seat %></td>
            <td id="ticketprice">$<%= t.price.toFixed(2) %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h5>No Tickets Yet</h5>
<% } %>
<br>
<h2>PURCHASE YOUR TICKET</h2>
<br>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label id="seat">SEAT:
        <a id="seatchoice">(Please Choose A-F Followed By A Seat Number 1-99)</a>
        <br>
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </label><br><br>
    <label>Price (Between $199 and $599):
        <input min="199" max="599" type="number" name="price">
    </label><br><br><br>
    <input type="submit" value="Buy Ticket Now" id="button">
</form>

<%- include('../partials/footer') %>